## -*- coding: utf-8 -*-

<%def name="comment_form(url, title, identifier)">
    <ol id="staticman-thread">
        % for k in sorted(global_data.keys(), reverse = True):
            % if identifier in k:
                <li class="comment">
                    <div class = "comment-header">
                        <span class="comment-author">
                            <b>
                                % if not global_data[k].get('author_url', '') == '':
                                    <a href="${global_data[k]['author_url']}" rel="external nofollow">
                                % endif
                                % if not global_data[k].get('author', '') == '':
                                    ${global_data[k]['author']}
                                % else:
                                    ${messages('Anonimous')}
                                % endif
                                % if not global_data[k].get('author_url', '') == '':
                                    </a>
                                % endif
                            </b>
                        </span>
                        <span>&ndash;</span>
                        <span class = "comment-date"> <time class="dt-published" datetime=${global_data[k].get('date')}>${global_data[k].get('date')}</time></span>
                    </div>
                    <div class="comment-text">${global_data[k].get('content')}</div>
                </li>
            % endif
        % endfor
    </ol>

    <h2>${messages("Post a comment")}</h2>
    <form method="post" action="https://api.staticman.net/v2/entry/sukiletxe/sukiletxe.eu/master">
        <input name="options[slug]" type="hidden" value="${identifier}">
        <input name="options[redirect]" type="hidden" value="${url}">
        <label for="name">${messages('Name')}</label>
        <input name="fields[author]" type="text" id="name">
        <label for="url">${messages('Website')}</label>
        <input name="fields[author_url]" type="url" id="url">
        <label for="text">${messages('Enter your comment here')}</label>
        <textarea name="fields[content]" id="text"></textarea>
        <button type="Submit">${messages('Submit comment')}</button>
    </form>
</%def>

<%def name="comment_link(link, identifier)">
    <a href="${link}#staticman-thread">Comments</a>
</%def>

<%def name="comment_link_script()">
</%def>
